<link rel="stylesheet" href="/css/home.css">
<nav>
    <img src="img/homedash.png" id="homedashimg" alt="">
    <button id="signUp">Sign Up</button>
    <button id="signIn">Sign In</button>
</nav>
<section class="lightbox" id="firstsec">

</section>
<div class="text-center">
    <button class="btn-theme">
        Analyse Report
    </button>
</div>
<section class="lightbox" id="secondsec">

</section>
<div class="text-center">
    <img src="icon/computericon.png" alt="" class="home-slideicon">
</div>
<section id="teammate" class="lightbox">

</section>
<section id="contactsec">
    <h3>Contact Us</h3>
    <div id="contact-content">
        <div id="contact-text">
            checkup@gmail.com<br>
            +91 9999999<br>
            Jagmara Bhubaneswar
        </div>
        <form action="">
            <textarea name="" id="" cols="30" rows="10" placeholder="Type your query!!"></textarea>
            <button type="submit" class="contact-btn">Send</button>
        </form>
    </div>
    <div id="social">
        <img src="icon/🦆 icon _facebook_.png" alt="">
        <img src="icon/🦆 icon _instagram_.png" alt="">
        <img src="icon/🦆 icon _linkedin_.png" alt="">
    </div>
</section>
<div id="buttomnav">
    <div class="lowericon text-center" id="homeicon">
        <img src="icon/home.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Home</p>
    </div>
    <div class="lowericon text-center" id="plusicon">
        <img src="icon/plus.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Plus</p>
    </div>
    <div class="lowericon text-center" id="hearticon">
        <img src="icon/heart.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Heart</p>
    </div>
    <div class="lowericon text-center" id="profileicon">
        <img src="icon/profile.svg" alt="">
        <p class="body bold" style="margin: 4px; color:#675D5D;">Profile</p>
    </div>
</div>